body {
    margin: 0;
    font-size: 30px;
    font-family: 'consolas';
}

.game-view {
    background: rgb(13, 185, 45);  
    width: 100vw;
    height: 100vh;
}


.start-screen {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-top: 100px;
    background-color: lightcoral;
    font-weight: bold;
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2em;
}

.play-screen {
    width: 100%;
    height: 100%;
}

.vegan {
    position: absolute;
    background-image: url('/src/images/slim_vegan_man-removebg-preview.png');
    width: 120px;
    height: 220px;
    background-size: cover;
}

.hidden {
    display: none;
}